html {
    scroll-behavior: smooth;
}

body {
    justify-content: center;
    align-items: center;
    background-color: #1995ad;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: o auto;
}

header {
    background-color: #a1d6e2;
}

.container-1 {
    display: flex;
    color: #2a3132;
    /* font-size: 200px; */
    padding-left: 10px;
    padding-right: 10px;
    font-family: "passero";
    justify-content: space-between;
}

h1 {
    font-size: 30px;
}

button {
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #1995ad;
    color: #fff;
    border-style: none;
    cursor: pointer;
}

.container {
    display: flex;
    margin-top: 1px;
}

form {
    padding: 50px;
    background-color: aliceblue;
    box-shadow: 10px 10px 10px black;
    border-radius: 40px;
    height: 700px;
    width: 563px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 100px;
}

img {
    height: 650px;
    padding-top: 70px;
}

label { 
    display: block;
}

h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

label, input {
    margin: 5px;
    font-size: 20px;
    font-weight: 400;
    font-size: 30px;
}

input {
    width: 500px;
    height: 81px;
    text-align: center;

}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-weight: 400;
}

#submit {
    width: 500px;
    height: 91px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#submit:hover {
    background-color: #1995ad;
    border-radius: 10px;
}


/* Popup Background */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Popup Content */
.popup-content {
    background-color: #00416A;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
    font-weight: 700;
    color: #fff;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Hide Popup */
.hidden {
    display: none;
}



/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    input, #submit {
        width: 100%;
        height: 45px;
    }

    label, input {
        font-size: 16px;
    }

    form {
        padding: 20px;
        margin: 20px;
        width: 90%;
        max-width: 400px;
    }

    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    img {
        display: none;
    }
}

@media (max-width: 1000px) {
    h2 {
        font-size: 34px;
    }

    input, #submit {
        height: 40px;
        width: 100%;
    }

    form {
        padding: 15px;
        width: 95%;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 95%;
    }

    img {
        display: none;
    }

    .container-1 {
        font-size: 14px;
    }
}


@font-face {
    font-family: "passero";
    src: url(PasseroOne-Regular.ttf);
}
